$base_color: #1e252c;
$bg_color: #0a0a0b;
$main_dark: darken($bg_color, 5%);
$gray: lighten($base_color, 7%);
$fg_color: #fefefe;

$primary: #ec006e;
$primary_dark: darken($primary, 10%);
$primary_glow: lighten($primary, 10%);

$orange: #f39c12;
$yellow: #f3d56e;
$red: #ff007a;
$purple: #c74ded;
$cyan: #00e8c6;
$lime: #84ff39;
$teal: #34eceb;

$g1: #3b82f6;
$g2: $primary;

$selected_glow_color: transparentize($primary_glow, 0.6);
$selected_bg_color: lighten($primary, 10%);
$selected_borders_color: lighten($primary, 10%);
$borders_color: $bg_color;
$borders_edge: transparentize(white, 0.9);

$warning_color: darken($orange, 10%);
$error_color: darken($red, 5%);
$destructive_color: darken(#c72240, 10%);

$osd_fg_color: $fg_color;
$osd_bg_color: transparentize($bg_color, 0.05);
$osd_borders_color: transparentize(black, 0.3);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
