/************
 * Nautilus *
 ************/

.nautilus-window {
  background-color: lighten($bg_color, 5%);
  &:backdrop {
    background-color: lighten($bg_color, 5%);
  }

  .nautilus-grid-view {
    background-color: transparent;

    gridview.view {
      background-color: $bg_color;
      border-top-left-radius: 36px;
      border-top-right-radius: 36px;
      border-color: lighten($borders_color, 10%);
      border-style: solid;
      border-top-width: 1px;
      border-left-width: 1px;
    }
  }

  .floating-bar {
    border-radius: 4px;
    @if $window-border {
      border: 1px solid $selected_borders_color;
      box-shadow: $popup-glowing;
    }
  }

  .navigation-sidebar {
    border: 0;
  }

  .nautilus-list-view {
    background-color: $bg_color;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-color: lighten($borders_color, 10%);
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;

    header {
      padding: 12px;
      background-color: transparent;
      border: none;
      > button {
        border: none;
        background-color: transparent;
      }
    }

    .view {
      border-radius: 0;
    }
    columnview.view {
      background-color: transparent;
      box-shadow: none;
      padding: 0 12px;
      padding-bottom: unset;
    }
  }

  paned {
    > separator {
      background-image: none;
    }
  }
  .sidebar {
    background-color: transparent;
    // background-image: none;

    &:backdrop {
      background-color: transparent;
      // background-image: none;
    }

    .list-row {
      button {
        border: none;
        color: $fg_color;
        background-color: transparent;
        &:active {
          background-color: transparentize($selected_bg_color, 0.35);
        }
      }

      &:selected {
        background-color: transparentize($selected_bg_color, 0.35);
        &:hover {
          background-color: transparentize($selected_bg_color, 0.4);
        }
      }

      &:hover {
        background-color: transparentize($bg_color, 0.5);
        &:active {
          background-color: transparentize($selected_bg_color, 0.1);
        }
      }
    }
  }

  notebook {
    > stack:only-child {
      // the :not(:only-child) is for "hidden" notebooks
      background-color: $bg_color;
      &:backdrop {
        background-color: $backdrop_base_color;
      }
    }
  }

  searchbar {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .searchbar-container {
    margin-top: 3px;
  }
}

.nautilus-circular-button {
  border-radius: 20px;
}

.disk-space-display {
  border: 2px solid;

  .unknown {
    background-color: #888a85;
    border-color: darken(#888a85, 20%);
  }

  .used {
    background-color: $selected_bg_color;
    border-color: darken(#9fb0b9, 20%);
  }

  .free {
    background-color: #d8d8d8;
    border-color: darken(#d8d8d8, 20%);
  }
}

.nautilus-desktop {
  color: $fg_color;

  .nautilus-canvas-item {
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 1px 1px transparentize(black, 0.4);

    &:active {
      color: $fg_color;
      text-shadow: none;
    }

    &:hover {
      color: $fg_color;
      text-shadow: none;
    }

    &:selected {
      color: $fg_color;
      text-shadow: none;
    }

    .dim-label {
      &:selected {
        color: $fg_color;
      }
    }
  }

  .nautilus-list {
    .dim-label {
      &:selected {
        color: $fg_color;
      }
    }
  }
}

/*********
 * Gedit *
 *********/
.gedit-search-slider {
  padding: 4px;
  border-radius: 0 0 3px 3px;
  border: 0;
  background-color: $bg_color;
}

/*********
 * Gnucash *
*********/
#gnc-id-main-window {
  entry.gnc-class-register-foreground {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  .arrow.button.toggle {
    transition: none;
    box-shadow: none;
    &:hover {
      border-color: $selected_bg_color;
    }
  }
}

/*******************
 * Calendar events *
********************/
.color-light {
  &.timed label,
  .event-popover label {
    color: $fg_color;
    opacity: 1;
  }
  & label {
    color: $bg_color;
    opacity: 1;
  }
}

/*******************
 * Calendar sidebar *
********************/
datechooser {
  .circular.day.text-button {
    padding: 6px;
    border-radius: 50%;
    min-height: 22px;
    min-width: 22px;
    border: none;
    &.flat.other-month,
    &.flat.non-workday {
      color: $insensitive_fg_color;
    }
    &.today {
      color: $selected_bg_color;
    }
    &:active,
    &:selected {
      @include button(active, $selected_bg_color, $fg_color);
      font-weight: bold;
    }
  }
  .weekday,
  .weeknum {
    color: $insensitive_fg_color;
  }
  .weeknum {
    background-color: lighten($_sidebar_color, 4%);
  }
  .current-week {
    background-color: transparentize($insensitive_fg_color, 0.9);
  }
}

agenda-view list.background {
  padding: 8px;
  .caption-heading,
  .dim-label.no-events {
    color: $headerbar_fg_color;
  }
}

datechooser,
agenda-view list.background,
.calendar-list {
  &,
  &:backdrop {
    background-color: $_sidebar_color;
  }
}

popover {
  datechooser,
  .calendars-list {
    background-color: transparent;
  }
}

/******************************
 * Gnome system monitor graph *
******************************/

#gnome-system-monitor .loadgraph {
  background: $bg_color;
  color: $text_color;
}

.org-gnome-TextEditor {
  .top-bar:nth-last-child(2) {
    padding: 0;
  }

  tabbox {
    border-style: solid;
    border-color: lighten($borders_color, 10%);
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

sheet.background {
  @if $window-border {
    border: 1px solid $selected_borders_color;
    box-shadow: $popup-glowing;
  }
}

gridview.view {
  > .activatable {
    &:backdrop {
      opacity: 0.8;
    }

    &:active {
      background-color: lighten($bg_color, 7%);
    }

    &:selected {
      &:backdrop {
        box-shadow:
          inset 0 0 0 1px transparentize($selected_borders_color, 0.5),
          0 0 6px 1px transparentize($selected_glow_color, 0.3);
        background-color: $backdrop_bg_color;
      }
      box-shadow:
        inset 0 0 0 1px $selected_borders_color,
        $popup-glowing;
      background-color: lighten($bg_color, 3%);
    }
  }
}
