/*********
 * Lists *
 *********/
list,
listview {
  &,
  label {
    color: $fg_color;
  }
  background-color: lighten($bg_color, 5%);
  border: 1px inset lighten($borders_color, 7%);

  & list,
  & listview {
    border: none;
    background-color: transparent;
  }

  &:backdrop {
    transition: $backdrop_transition;
    background-color: ($backdrop_bg_color, 3%);
    border-color: $backdrop_borders_color;
  }
  &.horizontal row.separator,
  &.separators.horizontal > row:not(.separator) {
    border-left: 1px solid $selected_borders_color;
  }
  &:not(.horizontal) row.separator,
  &.separators:not(.horizontal) > row:not(.separator) {
    border-bottom: 1px solid $selected_borders_color;
  }
}

row {
  &:backdrop {
    transition: $backdrop_transition;
  }
  &.activatable {
    &:focus-visible {
      box-shadow: inset 0 0 0 2px $selected_borders_color;
    }
    border: 1px solid transparent;
    transition: all 0.3s;
    margin: 4px 12px;

    &:hover {
      background: linear-gradient(
        to right bottom,
        transparentize(lighten($primary, 5%), 0.75),
        transparentize(darken($primary_dark, 15%), 0.75)
      );

      & * {
        border-color: transparent;
      }
    }

    &:active {
      background: linear-gradient(
        to right bottom,
        transparentize(lighten($primary, 10%), 0.7),
        transparentize(darken($primary_dark, 10%), 0.7)
      );
    }

    &:backdrop:hover {
      background-color: transparent;
    }

    &:selected {
      border-color: transparentize($selected_borders_color, 0.6);
      background-image: none;
      background-color: transparentize(darken($selected_bg_color, 25%), 0.7);

      &:backdrop {
        background-color: transparentize(darken($selected_bg_color, 27%), 0.85);
        border-color: transparentize($selected_borders_color, 0.7);
      }

      & label,
      & image {
        color: $selected_bg_color;
        &:backdrop {
          color: transparentize($selected_bg_color, 0.5);
        }
      }

      &:hover {
        background-image: none;
        background-color: transparentize(darken($selected_bg_color, 23%), 0.65);
      }
    }

    &.button {
      @include button(normal);
    }
  }

  &:selected {
    @extend %selected_items;
  }
}

columnview {
  // move padding to child cells
  > listview > row {
    padding: 0;

    // align horizontal sizing with header buttons
    > cell {
      padding: 0px 6px;

      &:not(:first-child) {
        border-left: 1px solid transparent;
      }
    }
  }

  // make column separators visible when :show-column-separators is true
  &.column-separators > listview > row > cell {
    border-left-color: $selected_borders_color;
  }

  // shrink vertically for .data-table
  &.data-table > listview > row > cell {
    padding-top: 22px;
    padding-bottom: 2px;
  }
}

treeexpander {
  border-spacing: 4px;
}

/********************************************************
 * Data Tables                                          *
 * treeview like tables with individual focusable cells *
 * https://gitlab.gnome.org/GNOME/gtk/-/issues/2929     *
 ********************************************************/

columnview row:not(:selected) cell editablelabel:not(.editing):focus-within {
  outline: 2px solid $borders_color;
}

columnview row:not(:selected) cell editablelabel.editing:focus-within {
  outline: 2px solid $selected_bg_color;
}

columnview row:not(:selected) cell editablelabel.editing text selection {
  background-color: $backdrop_selected_bg_color;
  color: transparent;
  &:focus-within {
    background-color: $selected_bg_color;
    color: $fg_color;
  }
}

/*******************************************************
 * Rich Lists                                          *
 * Large list usually containing lots of widgets       *
 * https://gitlab.gnome.org/GNOME/gtk/-/issues/3073    *
 *******************************************************/

.rich-list {
  /* rich lists usually containing other widgets than just labels/text */
  & > row {
    padding: 8px 12px;
    min-height: 32px; /* should be tall even when only containing a label */

    & > box {
      border-spacing: 12px;
    }
  }
}

/********************************************************
 * Complex Lists                                        *
 * Put padding on the cell content so event controllers *
 * can cover the whole area.                            *
 ********************************************************/

columnview.complex {
  > listview > row > cell {
    padding: 0;
    > * {
      padding: 8px 6px;
    }
  }

  // shrink vertically for .data-table
  &.data-table > listview > row > cell {
    padding: 0;
    > * {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}

.boxed-list-separate {
  background-color: transparent;
}

list listview.view.inline {
  background-color: transparent;
}
