/***********
 * Sidebar *
 ***********/
.sidebar {
  border-style: none;
  border-width: 0;
  background-color: lighten($bg_color, 5%);
  .frame {
    border: none;
  }

  @at-root %sidebar_left,
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) {
    border-right: none;
    border-left-style: none;
  }

  @at-root %sidebar_right &:dir(rtl),
    &.right {
    border-left: 1px solid $borders_color;
    border-right-style: none;
  }

  &:backdrop {
    background-color: $backdrop_sidebar_bg_color;
    border-color: $backdrop_borders_color;
  }

  paned & {
    &.left,
    &.right,
    &.left:dir(rtl),
    &:dir(rtl),
    &:dir(ltr),
    & {
      border-style: none;
      border-color: $borders_color;
    }
  }
}

stacksidebar {
  &.sidebar {
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) {
      list {
        @extend %sidebar_left;
      }
    }

    &:dir(rtl),
    &.right {
      list {
        @extend %sidebar_right;
      }
    }
  }

  row {
    padding: 10px 4px;

    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label {
      @extend %needs_attention;

      background-size:
        6px 6px,
        0 0;
    }
  }
}

/*******************************************************************/
/*                  PLACESSIDEBAR                                  */
/*******************************************************************/

placessidebar {
  background-color: lighten($bg_color, 5%);
  row.activatable {
    &:nth-child(1) {
      margin-top: 10px;
    }
    padding: 1px 6px;
    border-radius: 5px;

    label {
      padding-left: 8px;
    }

    image {
      margin-left: -14px;
      margin-right: 7px;
      padding-left: 14px;
      padding-right: 7px;
    }

    &:selected {
      &:backdrop {
        image {
          -gtk-icon-shadow: none;
        }
      }
    }

    &.sidebar-new-bookmark-row {
      &,
      label,
      image {
        color: $fg_color;
      }
      border: 1px solid $selected_borders_color;
      background-color: lighten($bg_color, 10%);
      &:hover {
        background-color: inherit;
        background: inherit;
      }
    }

    &:drop(active):not(:disabled) {
      box-shadow: none;
      background: linear-gradient(
        to right bottom,
        transparentize(lighten($primary, 5%), 0.75),
        transparentize(darken($primary_dark, 15%), 0.75)
      );

      &,
      label,
      image {
        color: $drop_target_color;
      }
    }
  }

  list {
    &,
    &:backdrop {
      background-color: lighten($bg_color, 5%);
    }
  }
}

// Gnome 46: File operations status bar at the bottom of sidebar
.sidebar-pane {
  &,
  .bottom-bar {
    background-color: lighten($bg_color, 5%);
  }
  .bottom-bar {
    button {
      @include button(undecorated);
      .view {
        background-color: transparent;
      }
    }
  }
}
