/***************
 * Popovers   *
 ***************/

popup-menu,
popover.background {
  padding: 2px;
  border-radius: 5px;
  background: $bg_color;
  @if $window-border {
    box-shadow:
      $popup-glowing,
      0 0 0 1px $selected_borders_color;
  } @else {
    box-shadow:
      0 6px 12px #0f070a,
      0 0 0 1px lighten($borders_color, 10%);
  }

  .csd &,
  & {
    border: 1px solid lighten($borders_color, 10%);
  }

  &:backdrop {
    background-color: $backdrop_bg_color;
    box-shadow: none;
  }

  > list,
  > .view,
  > toolbar {
    border-style: none;
    background-color: transparent;
  }

  .csd &,
  & {
    &.touch-selection,
    &.magnifier {
      @extend %osd;

      border: 1px solid transparentize(white, 0.9);

      button {
        @extend %osd_button;
      }
    }

    &.osd {
      @extend %osd;
    }
  }

  separator {
    margin: 3px;
  }

  list separator {
    margin: 0px;
  }
  list row {
    padding: 8px;
  }

  checkbutton,
  radiobutton {
    @extend modelbutton.flat;
  }
}
